html {
  font-size: 62.5%;
}

body {
  margin: 10px;
}

.container {
  border: 3px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* center, start, end */
  /* space-evenly */
  align-items: center;
  height: 90vh;
  /* flex-wrap: wrap; */
  /* this will make container's item would not stay in one lane */
  /* so you can use align-content:  */
  /* align-content: center; */
}
/* flex-basis (the initial size of a flex item */
/* flex-grow (the growth factor) */
/* flex-shrink (the shrink factor) */
/* flex */
.box {
  /* flex-basis: 10rem; this will change the width */
  width: 5rem;
  height: 5rem;
  /* flex-shrink: opposite of flex grow; */
  /* flex: flex-grow flex-shrink or flex-basic */
  background-color: gold;
  margin: 1rem;
}

.box-one {
  align-self: flex-end;
}
