html {
  font-size: 62.5%;
}
body {
  margin: 10px;
}
.container {
  display: grid;
  /* 3 x 2 */
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 30fr 70fr;
  row-gap: 10px;
  column-gap: 10px;
  /* gap:10px */
  /* grid-template: repeat(3, 100px) / (repeat(2, 100px)); */
  /* grid-row  grid-column grid-area */
  border: 3px solid lightgray;
  justify-items: stretch;
  align-items: stretch;
  /* default value is stretch */
  justify-content: center;
  align-content: center;
  height: 100vh;
  grid-template-areas:
    "header  header"
    "sidebar main"
    "footer  footer";
}

.box {
  /* if the box has no width and height the value would be stretch  */
  /* width: 5rem; */
  /* height: 5rem; */
  background-color: gold;
}
/* justify-items(horizonal
    align-items(vertical */

.box-one {
  /* grid-column: 1 / 3; */
  /* grid-row: 2 / 4; */
  grid-area: 1/1/1/3;
  /* this is a weird one  */
  /* can type the location by name */
  /* grid-area: header */
}
.box-four {
  grid-area: footer;
}
