html {
  font-size: 62.5%;
}
body {
  margin: 10px;
}

.box {
  width: 5rem;
  height: 5rem;
}

.boxes {
  border: 3pc solid lightgray;
}
/* Relative : normal position */
/* absolute: relative to the parent */
/* fixed: relative to the viewport */
.box-one {
  background-color: gold;
  position: relative;
  /* fixed always stay on page */
  left: 3rem;
  top: 1rem;
}

.box-two {
  background-color: orange;
  position: absolute;
  z-index: 1;
  left: 10rem;
}

.box-three {
  background-color: dodgerblue;
  position: relative;
}
