html {
  font-size: 62.5%;
}
body {
  margin: 10px;
  background: url(../images/bg-paper@2x.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100px;
  /* cover */
  background-size: 100% 200px;
  background-attachment: fixed;
}
