body {
  margin: 10px;
}

article p:first-of-type {
  color: orange;
}

article p:last-of-type {
  font-weight: bold;
}

ul li:nth-child(odd) {
  color: deeppink;
}

ul li:nth-child(even) {
  color: deepskyblue;
}

a:visited,
a:link {
  color: dodgerblue;
}

a:hover,
a:focus {
  color: firebrick;
}
