html {
  font-size: 62.5%;
}
body {
  margin: 10px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.box {
  width: 170px;
  height: 170px;
  background: gold;
}

.box:hover {
  transform: perspective(200px) translateZ(50px);
  transform-origin: 0 50%;
}
